@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --border-radius: 35px;
  --transition: 0.2s linear;
  --gradient: linear-gradient(45deg, #ed5d74, #f28057);
  --card-shadow: 5.7px 4.6px 62.6px -50px rgba(0, 0, 0, 0.085),
    25px 20px 500px -50px rgba(0, 0, 0, 0.17);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #edf2f7;
  height: 100vh;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

.card {
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
  transition: var(--transition);
  max-width: 400px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
  margin: 30px;
}

.card:hover {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.card h2 {
  margin: 30px 0;
}

.card p {
  opacity: 0.5;
}

.card a {
  transition: var(--transition);
  transform: translateY(60px);
  text-decoration: none;
  padding: 0 30px 30px;
  text-align: right;
  font-size: 1.2rem;
  color: #f07052;
  display: block;
}

.card:hover a {
  transform: translateY(0);
}

.card a:hover {
  transition: var(--transition);
  color: #20a9ed;
}

.card-text {
  padding: 20px;
}

.label {
  background: var(--gradient);
  border-radius: 9999px;
  width: max-content;
  padding: 7px 15px;
  color: #fff;
}

.card:hover .label {
  background: linear-gradient(45deg, #20a9ed, #647efd);
}

.card .banner {
  border-radius: var(--border-radius);
  transition: var(--transition);
  border-bottom-left-radius: 0;
  width: 100%;
}

.card:hover .banner {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
